{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}

<div class="page-header">
  {% if user.is_authenticated %}
  <h1>Are you ready to write a story, {{ user.username }}?</h1>
  {% else %}
  <h1>Welcome to StoryTeller</h1>
  {% endif %}
</div>

<p>StoryTeller is an interactive, collaborative writing experience. It enables writers to write stories together, adding one sentence at a time.</p>
<br/>
<div class="row placeholders">
  <div class="col-xs-12 col-sm-6 placeholder">
    <div class="panel panel-default">
      <div class="panel-heading">Completed Stories</div>
      <div class="panel-body">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class=" active"><a href="#top" aria-controls="top" role="tab" data-toggle="tab">Top</a>
            <li role="presentation"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">New</a></li>
            <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Popular</a></li>
          </ul>

          {% if completed_stories_top %}
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="top">
              <ul class="list-group">
                {% for story in completed_stories_top %}
                <li class="list-group-item"><a href="{% url 'story' story.slug  %}">
                  {{ story.title }} (Rating: {{story.rating}} Created: {{story.creation_date}} Views: {{story.views}} )</a></li>
                {% endfor %}
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="new">
              <ul class="list-group">
                {% for story in completed_stories_new %}
                <li class="list-group-item"><a href="{% url 'story' story.slug  %}">
                  {{ story.title }} (Rating: {{story.rating}} Created: {{story.creation_date}} Views: {{story.views}} )</a></li>
                {% endfor %}
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="popular">
              <ul class="list-group">
                {% for story in completed_stories_popular %}
                <li class="list-group-item"><a href="{% url 'story' story.slug  %}">
                  {{ story.title }} (Rating: {{story.rating}} Created: {{story.creation_date}} Views: {{story.views}} )</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% else %}
          <strong>There are no completed stories yet.</strong>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 placeholder">
    <div class="panel panel-default">
      <div class="panel-heading">Ongoing Stories</div>
      <div class="panel-body">
        {% if ongoing_stories %}
        <ul class="list-group">
          {% for story in ongoing_stories %}
          <li class="list-group-item">
            <span class="badge">{{ story.users.count }} writer(s)</span>
            <a href="{% url 'storyroom' story.id %}">{{ story.title }}</a>
            | {{ story.category.name }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <strong>There are no ongoing stories right now. {% if user.is_authenticated %}<a href="{% url 'add_story' %}">Start one!</a>{% endif %}</strong>
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% endblock %}
