{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
    {% if username %}
        {% if profile %}
            <div class="page-header">
            <h1><span class="label label-primary"> {{username.username}}'s profile</span></h1>
            </div>
            {% if profile.picture %}

              <div class="col-sm-3 col-md-3">
                <div class="thumbnail" >
                <img alt = "User's photo" src = "{{profile.picture.url}}" />
                <div class="caption">
                  {% if profile.age %}
                  <b> Age: {{profile.age}} </b>
                  <br>
                  {% endif %}
                  <b> E-mail: {{username.email}} </b>
                  {% if user.username == username.username %}
                  <p>
                    <a href="/storyteller/add_profile" class="btn btn-primary" role="button">Edit</a>
                  </p>
                  {% endif %}
                </div>
              </div>
            </div>

            {% endif %}
            Here we will put the users stories they wrote-contributed to

            {% else %}
            {% if user.username == username.username %}
            <b> Your profile contains so little information... Please update it. </b>
            {% else %}
            <b> Not sufficient information for that user. </b>
            {% endif %}
            {% endif %}
            {% else %}
        <b> User does not exist. </b>
    {% endif %}
{% endblock %}
