{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block body_block %}
	{% if title %}
		<h1>{{ title }} <small><a href="{% url 'category' story.category.slug %}">{{ story.category.name }}</a> | Created by: <a href="{% url 'profile' creator %}">{{ creator }}</a></small></h1>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>{{ text }}</p>
			</div>
		</div>
		<p>
			<div class="panel panel-default">
				<div class="panel-body">
					<p><strong id="like_count">{{ story.rating }}</strong> people like this story</p>
					{% if user.is_authenticated %}
					<button id="likes" data-storyid="{{story.completed_story_id}}" data-like=1 class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        Like
                        </button>
                    <button id="dislikes" data-storyid="{{story.completed_story_id}}" data-like=-1 class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        Dislike
                        </button>
					{% endif %}
				</div>
			</div>
		</p>
	{% else %}
    <strong>No such story exists</strong>
	{% endif %}

{% endblock %}
