{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block body_block %}
	{% if title %}
		<h1>{{ title }}</h1>
		<p>{{ text }}
		<br>
		<a href="{% url 'profile' creator %}">Creator: {{ creator }}</a>
		</p>
		<p>

		<strong id="like_count">{{ story.rating }}</strong> people like this story
        <br>
		{% if user.is_authenticated %}
				<button id="likes" data-storyid="{{story.id}}" class="btn btn-primary" type="button">
				<span class="glyphicon glyphicon-thumbs-up"></span>
				Like
				</button>
		{% endif %}

		</p>


	{% else %}
        <strong>No such story exists</strong>
	{% endif %}

{% endblock %}
